click
idds-client
idds-common
idds-doma
idds-workflow
panda-client
pyyaml
lsst-ctrl-bps @ git+https://github.com/lsst/ctrl_bps@main
lsst-daf-butler @ git+https://github.com/lsst/daf_butler@main
lsst-resources @ git+https://github.com/lsst/resources@main
lsst-utils @ git+https://github.com/lsst/utils@main
